.product__wrapper {
  margin: 5px;
  min-width: 280px;
  background: rgb(246, 246, 246);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  flex-direction: column;
  padding-bottom: 15px;
}

.product__icon-container {
  display: flex;
  width: 95%;
  justify-content: flex-end;
}

.product__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  top: 0;
  right: 0;

  &:hover {
    background-color: darkgray;
  }
}

.product__image {
  height: 80%;
}

.product__details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  padding-top: 5px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.product__brand {
  font-weight: 600;
}

.product__info-container {
  padding-right: 20px;
  width: 280px;
}

.product__info {
  text-align: left;
}

.product__price {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: auto;
}
