.newsletter__container {
  height: 320px;
  background: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter__title {
  margin-bottom: 10px;
}

.newsletter__description {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.newsletter__input {
  width: 35vw;
  min-width: 25rem;
  max-width: 40rem;
  height: 2rem;
  padding-left: 1rem;
  border: 1px solid #e0e0e0;
  font-weight: 700;
  margin-bottom: 15px;
}

.newsletter__button {
  padding: 10px 25px 10px 25px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
  cursor: pointer;
}

.newsletter__terms {
  font-size: 12px;
  font-weight: 600;
  color: #bdbdbd;
}
